{{outlet}}
<br>
<div class="alert alert-secondary" role="alert">
  Suscriptores Añadidos
</div>

<div class="container">
  <div class="row">
    {{#each model.subscriber as |subscriber|}}
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <p class="card-title">Nombre(s)</p>
            {{input class="card-title" type=text value=subscriber.name}}
            <p class="card-title">Apellido(s)</p>
            {{input class="card-title" type=text value=subscriber.last_name}}
              <button type="submit" class="btn btn-primary" {{action "editarSub" subscriber  on='click'}}>Editar</button>
              <button type="submit" class="btn btn-primary" {{action "eliminarSub" subscriber on='click' }} >Eliminar</button>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>


<div class="alert alert-primary" role="alert">
  Maestros Añadidos
</div>
<div class="container">
  <div class="row">
    {{#each model.teacher as |teacher|}}
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <p class="card-title">Nombre(s)</p>
          {{input class="card-title" type=text value=teacher.name}}
          <p class="card-title">Apellido(s)</p>
          {{input class="card-title" type=text value=teacher.last_name}}
          <p class="card-title">Telefono</p>
          {{input class="card-title" type=text value=teacher.phone}}
          <p class="card-title">Email</p>
          {{input class="card-title" type=text value=teacher.mail}}
            <button type="submit" class="btn btn-primary" {{action "editarTeacher" teacher  on='click'}}>Editar</button>
            <button type="submit" class="btn btn-primary" {{action "eliminarTeacher" teacher on='click' }} >Eliminar</button>
        </div>
      </div>
    {{/each}}
  </div>
</div>




<div class="alert alert-danger" role="alert">
  Alumnos Añadidos
  </div>
  <div class="container">
   <div class="row">
     {{#each model.student as |student|}}
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <p class="card-title">Nombre(s)</p>
          {{input class="card-title" type=text value=student.name}}
          <p class="card-title">Apellido(s)</p>
          {{input class="card-title" type=text value=student.last_name}}
          <p class="card-title">Actividad Actual</p>
          {{input class="card-title" type=text value=student.current_activity.name disabled=true}}
          <p class="card-title">Nivel Actual</p>
          {{input class="card-title" type=text value=student.current_activity.level_id disabled=true}}
          <p class="card-title">Telefono</p>
          {{input class="card-title" type=text value=student.phone}}
          <p class="card-title">Email</p>
          {{input class="card-title" type=text value=student.email}}
          <p class="card-title">Contracto asignado</p>
          {{input class="card-title" type=text value=student.student_contract.contract.id disabled=true}}
            <button type="submit" class="btn btn-primary" {{action "editarStudent" student  on='click'}}>Editar</button>
            <button type="submit" class="btn btn-primary" {{action "eliminarStudent" student on='click' }} >Eliminar</button>
            <br>
            <br>
            <button type="submit" class="btn btn-primary" {{action "goToDetailStudent" student.id on='click' }} >Detalles del alumno</button>
        </div>
      </div>
    {{/each}}
  </div>
</div>
