{{outlet}}

<form {{action 'addStudent' on='submit'}}>
	  <div class="form-group">
    <label >Actividad Cursando</label>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Selecciona la clase
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {{#each model.lesson as |lesson|}}
              <a class="dropdown-item"{{action "setLesson" lesson on="click"}}>{{lesson.id}}</a>
            {{/each}}
        </div>
      </div>
{{!--     {{input type="number" class="form-control"  placeholder="Actividad Cursando" value=current_activity_id}} --}}

  </div>
      <div class="form-group">
    <label >Actividad Seleccionada</label>
    {{input type="text" class="form-control" placeholder="Actividad añadida" value=current_activity.id disabled=true}}

  </div>
    <div class="form-group">
    <label >Nombre</label>
    {{input type="text" class="form-control" placeholder="Añadir Nombre" value=name}}

  </div>
  <div class="form-group">
    <label >Apellido</label>
    {{input type="text" class="form-control"  placeholder="Añadir Apellido" value=last_name}}

  </div>
   <div class="form-group">
    <label >Email</label>
    {{input type="text" class="form-control"  placeholder="Añadir Email" value=email}}

  </div>
  <div class="form-group">
    <label>Telefono</label>
    {{input type="number" class="form-control"  placeholder="Telefono" value=phone}}
  </div>
  <button type="submit" class="btn btn-primary" >Añadir Alumno</button>
</form>

 

